.section {
    background-image: url('https://sneaks.kg/images/about/breadcrunb-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:400px;
    
}
.text-background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000;
    font-family: 'Montserrat' sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    padding-top: 8rem;
} 

.section-content {
    font-family: 'Montserrat' sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.span-blue {
    color:#0D99FF;
}

/* ///////////////////// section-cards ///////////////// */

.section-cards {
    margin-top: 50px;
    margin-bottom: 200px;
}

.btn-filter {
    float: right;
    width: 100px;
}

.cards-map {
    padding-top: 100px;
}

/* ///////////////////// cards.map ////////////////// */


.box {
    background-color: #0D99FF;
    border-radius: 15px;
    width: 370px;
}

.images-cards{
    width: 400px;
    padding: 10px;
}

.cards-content {
    margin-left: 20px;
}

.h2-name {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    margin-bottom: 10px;
}

.p-title {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.h3-price {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}





.btn-add-card {
    font-family: "Montserrat", sans-serif;
}